.container-fluid{
    background-color: lightblue;
}

#navbarSupportedContent{
    padding-left: 65%;
}

#nav-item{
    color: white;
}

#contenido{
    width: 100%;
    display: flex;
    padding: 5%;
}

#cuerpo{
    width: 50%;
    background-color: lightblue;
    padding: 3%;
    text-align: center;
}

#cuerpo2{
    width: 50%;
    background-color: lightblue;
    padding: 5%;
    text-align: center;
}

#cuerpo100{
    width: 100%;
    background-color: lightblue;
    padding: 3%;
    text-align: center;
}

#cuerpo33{
    width: 33%;
    background-color: lightblue;
    padding: 3%;
    text-align: center;
}

#cuerpo-justify{
    width: 75%;
    background-color: lightblue;
    padding: 3%;
    padding-left: 10%;
    text-align: justify;
}

#titulo{
    padding-top: 2%;
    font-size: 250%;
    text-align: center;
}

#mapa{
    height: 50%;
    width: 50%;
}

#footer{
    background-color: lightblue;
    text-align: center;
    padding: 2%;
}

#img{
    width: 50%;
    height: 85%;
}

#bandera{
    height: 5%;
    width: 5%;
}