.container-fluid{
    background-color: lightblue;
}

#navbarSupportedContent{
    padding-left: 70%;
}

#nav-item{
    color: white;
}

#contenido{
    width: 100%;
    display: flex;
    padding: 5%;
}

#cuerpo{
    width: 50%;
    background-color: lightblue;
    padding: 3%;
    text-align: center;
}

#cuerpo100{
    width: 100%;
    background-color: lightblue;
    padding: 3%;
    text-align: center;
}

#titulo{
    padding-top: 2%;
    font-size: 250%;
    text-align: center;
}

#mapa{
    height: 50%;
    width: 50%;
}

#footer{
    background-color: lightblue;
    text-align: center;
    padding: 2%;
}